* {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: steelblue;
}


@media (max-width: 800) {
    body {
        flex-direction: column;
    }
}